In [1]:
from pyspark.sql import SparkSession
spark=(
SparkSession
    .builder
    .appName("basic transformations")
    .master("local[*]")
    .getOrCreate()
)

25/01/11 17:27:19 WARN Utils: Your hostname, Aadityas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.128 instead (on interface en0)
25/01/11 17:27:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/11 17:27:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/11 17:27:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/01/11 17:27:20 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/01/11 17:27:20 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/01/11 17:27:20 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [2]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

25/01/11 17:27:31 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
emp=spark.createDataFrame(data=emp_data,schema=emp_schema)

In [4]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [8]:
from pyspark.sql.functions import expr

In [22]:
# casting clumns
# select employee_id, name, age, cast(salary as double) as salary from emp
emp_casted=emp.select(emp["employee_id"],emp["name"],emp["age"],expr("CAST (salary as int)"))

#confusion=syedi multiple dataframe xa aani salary as int xa vanae kasko salary linxa
#obviously aagadi emp.select garya xa vanae paxi emp kai ta salary linxa ni
# as select ....... from emp garya jastai ta ho ni

In [10]:
emp_casted.show()

+-----------+-------------+---+------+
|employee_id|         name|age|salary|
+-----------+-------------+---+------+
|        001|     John Doe| 30| 50000|
|        002|   Jane Smith| 25| 45000|
|        003|    Bob Brown| 35| 55000|
|        004|    Alice Lee| 28| 48000|
|        005|    Jack Chan| 40| 60000|
|        006|    Jill Wong| 32| 52000|
|        007|James Johnson| 42| 70000|
|        008|     Kate Kim| 29| 51000|
|        009|      Tom Tan| 33| 58000|
|        010|     Lisa Lee| 27| 47000|
|        011|   David Park| 38| 65000|
|        012|   Susan Chen| 31| 54000|
|        013|    Brian Kim| 45| 75000|
|        014|    Emily Lee| 26| 46000|
|        015|  Michael Lee| 37| 63000|
|        016|  Kelly Zhang| 30| 49000|
|        017|  George Wang| 34| 57000|
|        018|    Nancy Liu| 29| 50000|
|        019|  Steven Chen| 36| 62000|
|        020|    Grace Kim| 32| 53000|
+-----------+-------------+---+------+

# adding or overriding columns
        withcomumn()
        
to add new columsn or override existing columns

In [15]:
# select employee_id, name, age, salary, (salary * 0.2) as tax from emp_casted
emp_taxed=emp_casted.withColumn("tax",emp_casted["salary"]*0.5)

In [16]:
emp_taxed.show()

+-----------+-------------+---+------+-------+
|employee_id|         name|age|salary|    tax|
+-----------+-------------+---+------+-------+
|        001|     John Doe| 30| 50000|25000.0|
|        002|   Jane Smith| 25| 45000|22500.0|
|        003|    Bob Brown| 35| 55000|27500.0|
|        004|    Alice Lee| 28| 48000|24000.0|
|        005|    Jack Chan| 40| 60000|30000.0|
|        006|    Jill Wong| 32| 52000|26000.0|
|        007|James Johnson| 42| 70000|35000.0|
|        008|     Kate Kim| 29| 51000|25500.0|
|        009|      Tom Tan| 33| 58000|29000.0|
|        010|     Lisa Lee| 27| 47000|23500.0|
|        011|   David Park| 38| 65000|32500.0|
|        012|   Susan Chen| 31| 54000|27000.0|
|        013|    Brian Kim| 45| 75000|37500.0|
|        014|    Emily Lee| 26| 46000|23000.0|
|        015|  Michael Lee| 37| 63000|31500.0|
|        016|  Kelly Zhang| 30| 49000|24500.0|
|        017|  George Wang| 34| 57000|28500.0|
|        018|    Nancy Liu| 29| 50000|25000.0|
|        019|  Steven Chen| 36| 62000|31000.0|
|        020|    Grace Kim| 32| 53000|26500.0|
+-----------+-------------+---+------+-------+

In [17]:
#overriding existing columns
emp_taxed=emp_casted.withColumn("tax",emp_casted["salary"]*0.2)
emp_taxed.show()

+-----------+-------------+---+------+-------+
|employee_id|         name|age|salary|    tax|
+-----------+-------------+---+------+-------+
|        001|     John Doe| 30| 50000|10000.0|
|        002|   Jane Smith| 25| 45000| 9000.0|
|        003|    Bob Brown| 35| 55000|11000.0|
|        004|    Alice Lee| 28| 48000| 9600.0|
|        005|    Jack Chan| 40| 60000|12000.0|
|        006|    Jill Wong| 32| 52000|10400.0|
|        007|James Johnson| 42| 70000|14000.0|
|        008|     Kate Kim| 29| 51000|10200.0|
|        009|      Tom Tan| 33| 58000|11600.0|
|        010|     Lisa Lee| 27| 47000| 9400.0|
|        011|   David Park| 38| 65000|13000.0|
|        012|   Susan Chen| 31| 54000|10800.0|
|        013|    Brian Kim| 45| 75000|15000.0|
|        014|    Emily Lee| 26| 46000| 9200.0|
|        015|  Michael Lee| 37| 63000|12600.0|
|        016|  Kelly Zhang| 30| 49000| 9800.0|
|        017|  George Wang| 34| 57000|11400.0|
|        018|    Nancy Liu| 29| 50000|10000.0|
|        019|  Steven Chen| 36| 62000|12400.0|
|        020|    Grace Kim| 32| 53000|10600.0|
+-----------+-------------+---+------+-------+

# literals
In PySpark, **literals** represent fixed values (constants) used in DataFrame operations. They allow you to include constant values in your DataFrame transformations or queries.

The `lit` function from the `pyspark.sql.functions` module is used to create literals in PySpark. It is useful when you want to include a fixed value or a constant column in a DataFrame operation.

---

### **Key Features of Literals (`lit`)**
1. **Fixed Values**: Represent constant values.
2. **Flexible Use**: Can be combined with DataFrame columns for transformations, filtering, or calculations.
3. **Column Creation**: Create new columns with constant values.

---

### **How to Use Literals (`lit`)**

#### **1. Importing `lit`**
```python
from pyspark.sql.functions import lit
```

#### **2. Adding a Constant Column**
You can add a new column to a DataFrame with a fixed value.
```python
# Sample DataFrame
data = [("Alice", 1), ("Bob", 2)]
columns = ["Name", "Value"]
df = spark.createDataFrame(data, columns)

# Add a constant column
df_with_literal = df.withColumn("Country", lit("USA"))
df_with_literal.show()
```

**Output:**
```
+-----+-----+-------+
| Name|Value|Country|
+-----+-----+-------+
|Alice|    1|    USA|
|  Bob|    2|    USA|
+-----+-----+-------+
```

---

#### **3. Using `lit` in Expressions**
Combine `lit` with other columns in transformations.
```python
# Add 10 to the Value column
df_with_calculation = df.withColumn("UpdatedValue", df["Value"] + lit(10))
df_with_calculation.show()
```

**Output:**
```
+-----+-----+------------+
| Name|Value|UpdatedValue|
+-----+-----+------------+
|Alice|    1|          11|
|  Bob|    2|          12|
+-----+-----+------------+
```

---

#### **4. Filtering Rows with `lit`**
Use `lit` for constant values in filtering conditions.
```python
# Filter rows where Value is greater than 1
df_filtered = df.filter(df["Value"] > lit(1))
df_filtered.show()
```

**Output:**
```
+----+-----+
|Name|Value|
+----+-----+
| Bob|    2|
+----+-----+
```

---

#### **5. Using `lit` for SQL Queries**
```python
# Add a column with a literal and perform a query
df_with_literal.createOrReplaceTempView("people")
result = spark.sql("SELECT Name, Value, 'Constant' AS Type FROM people")
result.show()
```

**Output:**
```
+-----+-----+--------+
| Name|Value|    Type|
+-----+-----+--------+
|Alice|    1|Constant|
|  Bob|    2|Constant|
+-----+-----+--------+
```

---

### **Why Use `lit`?**
- **Explicit Constants**: Ensures constants are treated properly in DataFrame operations.
- **Compatibility**: Avoids errors that may occur when mixing raw Python constants with Spark columns.
- **SQL-Like Behavior**: Helps replicate SQL-like queries where constants are common.

---

### **Example Scenarios**
1. Adding a timestamp column with the same value for all rows.
2. Including constant metadata in a DataFrame.
3. Performing arithmetic or logical operations with a fixed value.

Let me know if you'd like more examples or detailed explanations!

In [18]:
from pyspark.sql.functions import lit

In [19]:
# select employee_id, name, age, salary, tax, 1 as countrycode, 'Nepal' as contryname from emp_taxed
emp_new_cols = emp_taxed.withColumn("countrycode", lit(1)).withColumn("countryname", lit('Nepal'))

In [21]:
emp_new_cols.show()

+-----------+-------------+---+------+-------+-----------+-----------+
|employee_id|         name|age|salary|    tax|countrycode|countryname|
+-----------+-------------+---+------+-------+-----------+-----------+
|        001|     John Doe| 30| 50000|10000.0|          1|      Nepal|
|        002|   Jane Smith| 25| 45000| 9000.0|          1|      Nepal|
|        003|    Bob Brown| 35| 55000|11000.0|          1|      Nepal|
|        004|    Alice Lee| 28| 48000| 9600.0|          1|      Nepal|
|        005|    Jack Chan| 40| 60000|12000.0|          1|      Nepal|
|        006|    Jill Wong| 32| 52000|10400.0|          1|      Nepal|
|        007|James Johnson| 42| 70000|14000.0|          1|      Nepal|
|        008|     Kate Kim| 29| 51000|10200.0|          1|      Nepal|
|        009|      Tom Tan| 33| 58000|11600.0|          1|      Nepal|
|        010|     Lisa Lee| 27| 47000| 9400.0|          1|      Nepal|
|        011|   David Park| 38| 65000|13000.0|          1|      Nepal|
|        012|   Susan Chen| 31| 54000|10800.0|          1|      Nepal|
|        013|    Brian Kim| 45| 75000|15000.0|          1|      Nepal|
|        014|    Emily Lee| 26| 46000| 9200.0|          1|      Nepal|
|        015|  Michael Lee| 37| 63000|12600.0|          1|      Nepal|
|        016|  Kelly Zhang| 30| 49000| 9800.0|          1|      Nepal|
|        017|  George Wang| 34| 57000|11400.0|          1|      Nepal|
|        018|    Nancy Liu| 29| 50000|10000.0|          1|      Nepal|
|        019|  Steven Chen| 36| 62000|12400.0|          1|      Nepal|
|        020|    Grace Kim| 32| 53000|10600.0|          1|      Nepal|
+-----------+-------------+---+------+-------+-----------+-----------+

# realistically we create column as

In [24]:
columns = {
    "tax" : emp["salary"] * 0.2 ,
    "oneNumber" : lit(1), 
    "columnTwo" : lit("two")
}

emp_final = emp.withColumns(columns)

In [25]:
emp_final.show()

+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|employee_id|department_id|         name|age|gender|salary| hire_date|    tax|oneNumber|columnTwo|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|10000.0|        1|      two|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15| 9000.0|        1|      two|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|11000.0|        1|      two|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30| 9600.0|        1|      two|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|12000.0|        1|      two|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|10400.0|        1|      two|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|14000.0|        1|      two|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|10200.0|        1|      two|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|11600.0|        1|      two|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01| 9400.0|        1|      two|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|13000.0|        1|      two|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|10800.0|        1|      two|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|15000.0|        1|      two|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01| 9200.0|        1|      two|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|12600.0|        1|      two|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01| 9800.0|        1|      two|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|11400.0|        1|      two|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|10000.0|        1|      two|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|12400.0|        1|      two|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|10600.0|        1|      two|
+-----------+-------------+-------------+---+------+------+----------+-------+---------+---------+

# dropping columns

In [28]:
emp_dropped = emp_final.drop("tax", "oneNumber")
#kun kun column drop garnu parya

In [27]:
emp_dropped.show()

+-----------+-------------+-------------+---+------+------+----------+---------+
|employee_id|department_id|         name|age|gender|salary| hire_date|columnTwo|
+-----------+-------------+-------------+---+------+------+----------+---------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|      two|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|      two|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|      two|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|      two|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|      two|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|      two|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|      two|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|      two|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|      two|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|      two|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|      two|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|      two|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|      two|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|      two|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|      two|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|      two|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|      two|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|      two|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|      two|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|      two|
+-----------+-------------+-------------+---+------+------+----------+---------+