In [1]:
from pyspark.sql import SparkSession
spark=(
SparkSession
    .builder
    .appName("basic transformations")
    .master("local[*]")
    .getOrCreate()
)
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"
emp=spark.createDataFrame(data=emp_data,schema=emp_schema)
emp.show()

25/01/11 18:12:33 WARN Utils: Your hostname, Aadityas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.128 instead (on interface en0)
25/01/11 18:12:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/11 18:12:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/11 18:12:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/01/11 18:12:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/01/11 18:12:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/01/11 18:12:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/01/11 18:12:34 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

25/01/11 18:12:48 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [2]:
from pyspark.sql.functions import when, expr

In [5]:
# select employee_id, name, age, salary, gender,
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender, hire_date from emp
emp_gender_shortform=emp.withColumn("new gender",when(emp["gender"]=="Male","M").when(emp["gender"]=="Female","F").otherwise(None))
emp_gender_shortform.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [6]:
# alternative
emp_gender_fixed_1 = emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end"))

In [8]:
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|         F|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

# vvvvmvi

In [12]:
# yedi kunai id or certain parameters bata kunai ko value change garnu pare
emp_updated = emp.withColumn(
    "Name", # as halae padya thiyam ki yeslae column xa vanae overwrite pani gardinxa
    when(emp["employee_id"] == 1, "Robert").otherwise(emp["Name"])
)

emp_updated.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         Name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|       Robert| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+