In [1]:
from pyspark.sql import SparkSession
spark=(
SparkSession
    .builder
    .appName("basic transformations")
    .master("local[*]")
    .getOrCreate()
)
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"
emp=spark.createDataFrame(data=emp_data,schema=emp_schema)
emp.show()

25/01/11 18:25:59 WARN Utils: Your hostname, Aadityas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.128 instead (on interface en0)
25/01/11 18:25:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/11 18:25:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/01/11 18:25:59 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

25/01/11 18:26:11 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
# Replace in Strings
# select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace,expr

emp_name_fixed = emp.withColumn("new_name", regexp_replace(emp["name"], "J", "Z"))
# just name ma jaa jaa J xa tya tya z le replace garde ko

In [7]:
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|  George Wang|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+-------------+

In [20]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed

emp_date_converted=emp_name_fixed.withColumn("hire",expr("to_date(hire_date,'yyyy-MM-dd')"))

In [21]:
emp_date_converted.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|      hire|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     Zohn Doe|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|   Zane Smith|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|    Bob Brown|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|    Alice Lee|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|    Zack Chan|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|    Zill Wong|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|Zames Zohnson|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|     Kate Kim|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|      Tom Tan|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|     Lisa Lee|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|   David Park|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|   Susan Chen|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|    Brian Kim|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|  Michael Lee|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|  Kelly Zhang|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|  George Wang|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|    Nancy Liu|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|  Steven Chen|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|    Grace Kim|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+

In [22]:
from pyspark.sql.functions import current_date, current_timestamp
emp_with_current_time_and_date=emp_date_converted.withColumn("currentdate",current_date()).withColumn("currenttime",current_timestamp())

In [23]:
emp_with_current_time_and_date.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+----------+-----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|      hire|currentdate|         currenttime|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+-----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     Zohn Doe|2015-01-01| 2025-01-11|2025-01-11 18:43:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|   Zane Smith|2016-02-15| 2025-01-11|2025-01-11 18:43:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|    Bob Brown|2014-05-01| 2025-01-11|2025-01-11 18:43:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|    Alice Lee|2017-09-30| 2025-01-11|2025-01-11 18:43:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|    Zack Chan|2013-04-01| 2025-01-11|2025-01-11 18:43:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|    Zill Wong|2018-07-01| 2025-01-11|2025-01-11 18:43:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|Zames Zohnson|2012-03-15| 2025-01-11|2025-01-11 18:43:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|     Kate Kim|2019-10-01| 2025-01-11|2025-01-11 18:43:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|      Tom Tan|2016-06-01| 2025-01-11|2025-01-11 18:43:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|     Lisa Lee|2018-08-01| 2025-01-11|2025-01-11 18:43:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|   David Park|2015-11-01| 2025-01-11|2025-01-11 18:43:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|   Susan Chen|2017-02-15| 2025-01-11|2025-01-11 18:43:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|    Brian Kim|2011-07-01| 2025-01-11|2025-01-11 18:43:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|2019-01-01| 2025-01-11|2025-01-11 18:43:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|  Michael Lee|2014-09-30| 2025-01-11|2025-01-11 18:43:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|  Kelly Zhang|2018-04-01| 2025-01-11|2025-01-11 18:43:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|  George Wang|2016-03-15| 2025-01-11|2025-01-11 18:43:...|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|    Nancy Liu|2017-06-01| 2025-01-11|2025-01-11 18:43:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|  Steven Chen|2015-08-01| 2025-01-11|2025-01-11 18:43:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|    Grace Kim|2018-11-01| 2025-01-11|2025-01-11 18:43:...|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+-----------+--------------------+